<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3 class="mb-4 text-center"><%= data.title %></h3>

      <div class="card listing-card shadow-sm show-card">
        <img src="<%= data.image.url %>" class="card-img-top show-img" alt="listing_img">
        
        <div class="card-body">
          <p class="card-text"><%= data.description %></p>
          <p class="card-text text-success fw-semibold">
            &#8377;<%= data.price.toLocaleString("en-IN") %>
          </p>
          <p class="card-text text-muted">
            <%= data.location %>, <%= data.country %>
          </p>
        </div>
<div class="card-footer d-flex justify-content-between">
  <a href="/listings/<%= data._id %>/edit" class="btn btn-primary btn-sm text-white">Edit</a>

  <form method="POST" action="/listings/<%= data._id %>?_method=DELETE" class="d-inline">
    <button class="btn btn-danger btn-sm text-white">Delete</button>
  </form>
</div>

      </div>

    </div>
  </div>

  <div class="offset-3 col-8 mb-3">
    <hr>
    <h4 class="col-8 offset-3">Leave a Review</h4>
    <form action="/listings/<%=data._id%>/reviews" method="post" novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]">
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea required name="review[comment]" id="comment" cols="30" rows="5" class="form-control"></textarea>
      <div class="invalid-feedback"> Please add some comments for review</div>
      </div>
      <div class="mb-3 mt-3">
        <button class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
    <hr>

    <P><b>All Reviews</b></P>
    
    <div class="row">
       <% for(review of data.reviews){ %>
        <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
             <h5 class="card-title">Jay Kadam</h5>
             <p class="card-text"><%=review.comment %></p>
             <p class="card-text"><%= review.rating %>  stars</p>
             <form class="mb-3" method="POST" action="/listings/<%=data._id %>/reviews/<%=review._id %>?_method=DELETE">
                <button class="btn btn-sm btn-dark">Delete</button>
             </form>
             

          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>
